REGISTRY=ghcr.io/indestructibleautoops
IMAGE_TAG=iaops:latest
COSIGN_KEY_REF=cosign.key
COSIGN_PASSWORD=change-me
COSIGN_PUBLIC_KEY=cosign.pub
COSIGN_PRIVATE_KEY=cosign.key
SBOM_PATH=sbom.json
POLICY_PATH=policy/rego/supplychain.rego
